{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "react-hooks", "jsx-a11y", "prettier"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-console": "error",
        "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "arrow-parens": ["error", "as-needed"],
        "prettier/prettier": [
            "error",
            {
                "semi": true,
                "singleQuote": true,
                "trailingComma": "es5",
                "bracketSpacing": true,
                "arrowParens": "avoid",
                "tabWidth": 4,
                "endOfLine": "auto",
                "printWidth": 100
            }
        ]
    },
    "ignorePatterns": ["!**/src"]
}
